* {
    margin: 0;
    padding: 0;
    background-color: rgb(169, 79, 221);
  
  }
 
  #h1{
    color: orange;
    font-family: cursive;
  }

#imglog{
    width: 267px;
    right: 350px;
}

#pantufain{
    width: 267px;
    right: 350px;
}

#curtoin{
    width: 267px;
    right: 350px;
}
#longoi{
    width: 267px;
    right: 350px;
}
#curtoin{
    width: 267px;
    right: 350px;
    

}
#longoi{
    width: 267px;
    right: 350px;
   
}
#pantufa{
    width: 267px;
    right: 350px;
    

}
#curto{
    width: 267px;
    right: 350px;

}

